.MenuBar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90px;
}

.Content-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90px;
    background-color: #0a141a;
}