div.BreadCrumbsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: -90px;
}

div.BreadCrumb {
  margin-right: -5px;
  margin-bottom: 10px;
}

div.BreadCrumb > div.ArrowContainer {
  margin-bottom: -5px;
}

div.BreadCrumb > div.ArrowContainer > div.Arrow {
  background-color: black;
}